In [1]:
import pandas as pd
import sqlite3 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np

In [2]:
df_drivers = pd.read_csv("./data/drivers.csv")
df_races = pd.read_csv("./data/races.csv")
df_circuits = pd.read_csv("./data/circuits.csv")
df_constructors = pd.read_csv("./data/constructors.csv")
df_status = pd.read_csv("./data/status.csv")
df_driver_standings = pd.read_csv("./data/driver_standings.csv")


df_overtakes = pd.read_csv("./data/overtakes.csv")
df_results = pd.read_csv("./data/results.csv")
df_overtaking_average = pd.read_csv("./data/overtaking_season_averages.csv")

# Analisis DF DRIVERS

In [3]:
df_drivers.head(3)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg

In [45]:
df_drivers.shape

(859, 4)

In [4]:
df_drivers["driverName"] = df_drivers.forename + " " + df_drivers.surname
df_drivers = df_drivers.drop(columns = ["forename","surname","driverRef","number","code","url"])

In [5]:
df_drivers.head(3)

   driverId         dob nationality      driverName
0         1  1985-01-07     British  Lewis Hamilton
1         2  1977-05-10      German   Nick Heidfeld
2         3  1985-06-27      German    Nico Rosberg

In [6]:
df_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     859 non-null    int64
 1   dob          859 non-null    object
 2   nationality  859 non-null    object
 3   driverName   859 non-null    object
dtypes: int64(1), object(3)
memory usage: 27.0+ KB

In [7]:
df_drivers["dob"] = pd.to_datetime(df_drivers.dob)
df_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     859 non-null    int64
 1   dob          859 non-null    datetime64[ns]
 2   nationality  859 non-null    object
 3   driverName   859 non-null    object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 27.0+ KB

In [8]:
df_drivers.duplicated().value_counts()

False    859
Name: count, dtype: int64

# Analisis DF RACES

In [9]:
df_races.head(3)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [46]:
df_races.shape

(1125, 7)

In [10]:
df_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1125 non-null   int64
 1   year         1125 non-null   int64
 2   round        1125 non-null   int64
 3   circuitId    1125 non-null   int64
 4   name         1125 non-null   object
 5   date         1125 non-null   object
 6   time         1125 non-null   object
 7   url          1125 non-null   object
 8   fp1_date     1125 non-null   object
 9   fp1_time     1125 non-null   object
 10  fp2_date     1125 non-null   object
 11  fp2_time     1125 non-null   object
 12  fp3_date     1125 non-null   object
 13  fp3_time     1125 non-null   object
 14  quali_date   1125 non-null   object
 15  quali_time   1125 non-null   object
 16  sprint_date  1125 non-null   object
 17  sprint_time  1125 non-null   object
dtypes: int64(4), object(14)
memory usage: 158.3+ KB

In [11]:
df_races.value_counts()

raceId  year  round  circuitId  name                      date        time      url                                                         fp1_date    fp1_time  fp2_date    fp2_time  fp3_date    fp3_time  quali_date  quali_time  sprint_date  sprint_time
1       2009  1      1          Australian Grand Prix     2009-03-29  06:00:00  http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix     \N          \N        \N          \N        \N          \N        \N          \N          \N           \N             1
749     1960  4      39         Dutch Grand Prix          1960-06-06  \N        http://en.wikipedia.org/wiki/1960_Dutch_Grand_Prix          \N          \N        \N          \N        \N          \N        \N          \N          \N           \N             1
755     1960  10     60         United States Grand Prix  1960-11-20  \N        http://en.wikipedia.org/wiki/1960_United_States_Grand_Prix  \N          \N        \N          \N        \N          \N        \N          \N          \N           \N             1
754     1960  9      14         Italian Grand Prix        1960-09-04  \N        http://en.wikipedia.org/wiki/1960_Italian_Grand_Prix        \N          \N        \N          \N        \N          \N        \N          \N          \N           \N             1
753     1960  8      59         Portuguese Grand Prix     1960-08-14  \N        http://en.wikipedia.org/wiki/1960_Portuguese_Grand_Prix     \N          \N        \N          \N        \N          \N        \N          \N          \N           \N             1
                                                                                                                                                                                                                                                                 ..
382     1988  11     13         Belgian Grand Prix        1988-08-28  \N        http://en.wikipedia.org/wiki/1988_Belgian_Grand_Prix        \N          \N        \N          \N        \N          \N        \N          \N          \N           \N             1
383     1988  12     14         Italian Grand Prix        1988-09-11  \N        http://en.wikipedia.org/wiki/1988_Italian_Grand_Prix        \N          \N        \N          \N        \N          \N        \N          \N          \N           \N             1
384     1988  13     27         Portuguese Grand Prix     1988-09-25  \N        http://en.wikipedia.org/wiki/1988_Portuguese_Grand_Prix     \N          \N        \N          \N        \N          \N        \N          \N          \N           \N             1
385     1988  14     26         Spanish Grand Prix        1988-10-02  \N        http://en.wikipedia.org/wiki/1988_Spanish_Grand_Prix        \N          \N        \N          \N        \N          \N        \N          \N          \N           \N             1
1144    2024  24     24         Abu Dhabi Grand Prix      2024-12-08  13:00:00  https://en.wikipedia.org/wiki/2024_Abu_Dhabi_Grand_Prix     2024-12-06  09:30:00  2024-12-06  13:00:00  2024-12-07  10:30:00  2024-12-07  14:00:00    \N           \N             1
Name: count, Length: 1125, dtype: int64

In [12]:
df_races = df_races.drop(columns = ["time","fp1_date", "fp1_time", "fp2_date", "fp2_time", "fp3_date", "fp3_time", "quali_date", "quali_time", "sprint_date", "sprint_time"])

In [13]:
df_races["date"] = pd.to_datetime(df_races.date)

In [14]:
df_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     1125 non-null   int64
 1   year       1125 non-null   int64
 2   round      1125 non-null   int64
 3   circuitId  1125 non-null   int64
 4   name       1125 non-null   object
 5   date       1125 non-null   datetime64[ns]
 6   url        1125 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 61.7+ KB

In [15]:
df_races

,raceId,year,round,circuitId,name,date,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...,...,...,...,...,...,...,...
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-27,https://en.wikipedia.org/wiki/2024_Mexico_City...
1121,1141,2024,21,18,São Paulo Grand Prix,2024-11-03,https://en.wikipedia.org/wiki/2024_S%C3%A3o_Pa...
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-23,https://en.wikipedia.org/wiki/2024_Las_Vegas_G...
1123,1143,2024,23,78,Qatar Grand Prix,2024-12-01,https://en.wikipedia.org/wiki/2024_Qatar_Grand...
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,https://en.wikipedia.org/wiki/2024_Abu_Dhabi_G...

In [16]:
df_races.duplicated().value_counts()

False    1125
Name: count, dtype: int64

# Analisis DF CIRCUITS

In [17]:
df_circuits.head(3)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.7380,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.5106,7,http://en.wikipedia.org/wiki/Bahrain_Internati...

In [47]:
df_circuits.shape

(77, 8)

In [18]:
df_circuits.value_counts()

circuitId  circuitRef   name                            location               country        lat       lng         alt  url
1          albert_park  Albert Park Grand Prix Circuit  Melbourne              Australia      -37.8497   144.96800  10   http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit                1
51         charade      Charade Circuit                 Clermont-Ferrand       France          45.7472   3.03889    790  http://en.wikipedia.org/wiki/Charade_Circuit                             1
58         aintree      Aintree                         Liverpool              UK              53.4769  -2.94056    20   http://en.wikipedia.org/wiki/Aintree_Motor_Racing_Circuit                1
57         zeltweg      Zeltweg                         Styria                 Austria         47.2039   14.74780   676  http://en.wikipedia.org/wiki/Zeltweg_Airfield                            1
56         george       Prince George Circuit           Eastern Cape Province  South Africa   -33.0486   27.87360   15   http://en.wikipedia.org/wiki/Prince_George_Circuit                       1
                                                                                                                                                                                                 ..
27         estoril      Autódromo do Estoril            Estoril                Portugal        38.7506  -9.39417    130  http://en.wikipedia.org/wiki/Aut%C3%B3dromo_do_Estoril                   1
26         jerez        Circuito de Jerez               Jerez de la Frontera   Spain           36.7083  -6.03417    37   http://en.wikipedia.org/wiki/Circuito_Permanente_de_Jerez                1
25         galvez       Autódromo Juan y Oscar Gálvez   Buenos Aires           Argentina      -34.6943  -58.45930   8    http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Oscar_Alfredo_G%C3%A1lvez    1
24         yas_marina   Yas Marina Circuit              Abu Dhabi              UAE             24.4672   54.60310   3    http://en.wikipedia.org/wiki/Yas_Marina_Circuit                          1
80         vegas        Las Vegas Strip Street Circuit  Las Vegas              United States   36.1147  -115.17300  642  https://en.wikipedia.org/wiki/Las_Vegas_Grand_Prix#Circuit               1
Name: count, Length: 77, dtype: int64

In [19]:
df_circuits = df_circuits.drop(columns = ["url"])

In [20]:
df_circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     int64
dtypes: float64(2), int64(2), object(4)
memory usage: 4.9+ KB

In [21]:
df_circuits.duplicated().value_counts()

False    77
Name: count, dtype: int64

# Analisis DF CONSTRUCTORS

In [22]:
df_constructors.head(3)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

In [49]:
df_constructors.shape

(212, 3)

In [23]:
df_constructors = df_constructors.drop(columns = ["url","constructorRef"])

In [24]:
df_constructors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   constructorId  212 non-null    int64
 1   name           212 non-null    object
 2   nationality    212 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.1+ KB

In [25]:
df_constructors.value_counts()

constructorId  name            nationality
1              McLaren         British          1
135            Pawl            American         1
137            Arzani-Volpini  Italian          1
138            Nichels         American         1
139            Bromme          American         1
                                               ..
75             Embassy Hill    British          1
76             Lyncar          British          1
77             Trojan          British          1
78             Amon            New Zealander    1
215            RB F1 Team      Italian          1
Name: count, Length: 212, dtype: int64

In [26]:
df_constructors.duplicated().value_counts()

False    212
Name: count, dtype: int64

# Analisis DF STATUS

In [27]:
df_status.head(15)

    statusId        status
0          1      Finished
1          2  Disqualified
2          3      Accident
3          4     Collision
4          5        Engine
5          6       Gearbox
6          7  Transmission
7          8        Clutch
8          9    Hydraulics
9         10    Electrical
10        11        +1 Lap
11        12       +2 Laps
12        13       +3 Laps
13        14       +4 Laps
14        15       +5 Laps

In [50]:
df_status.shape

(139, 2)

In [28]:
df_status.value_counts()

statusId  status
1         Finished          1
98        Injection         1
92        Underweight       1
93        Safety belt       1
94        Oil pump          1
                           ..
41        Broken wing       1
40        Electronics       1
39        Technical         1
38        Steering          1
141       Cooling system    1
Name: count, Length: 139, dtype: int64

In [29]:
df_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   statusId  139 non-null    int64
 1   status    139 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

In [30]:
df_status.duplicated().value_counts()

False    139
Name: count, dtype: int64

# Analisis DF DRIVERS STANDINGS

In [31]:
df_driver_standings.head(3)

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0

In [51]:
df_driver_standings.shape

(34595, 7)

In [32]:
df_driver_standings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34595 entries, 0 to 34594
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  34595 non-null  int64
 1   raceId             34595 non-null  int64
 2   driverId           34595 non-null  int64
 3   points             34595 non-null  float64
 4   position           34595 non-null  int64
 5   positionText       34595 non-null  object
 6   wins               34595 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB

In [33]:
df_driver_standings.duplicated().value_counts()

False    34595
Name: count, dtype: int64

# Analisis DF OVERTAKES

In [34]:
df_overtakes.head(3)

   Season          Race  Overtakes  TV  Percentage
0    1984        Brazil         61  14       22.95
1    1984  South Africa         83  15       18.07
2    1984       Belgium         50  14       28.00

In [52]:
df_overtakes.shape

(780, 5)

In [35]:
df_overtakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      780 non-null    int64
 1   Race        780 non-null    object
 2   Overtakes   780 non-null    int64
 3   TV          780 non-null    int64
 4   Percentage  780 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 30.6+ KB

In [36]:
df_overtakes.value_counts()

Season  Race           Overtakes  TV   Percentage
1984    Austria        44         2    4.55          1
2013    South Korea    69         33   47.83         1
2012    Season         1229       581  47.27         1
        Singapore      64         21   32.81         1
        South Korea    36         23   63.89         1
                                                    ..
1999    Europe         29         8    27.59         1
        France         42         17   40.48         1
        Germany        18         12   66.67         1
        Great Britain  13         4    30.77         1
2024    Spain          55         34   61.82         1
Name: count, Length: 780, dtype: int64

In [37]:
df_overtakes.duplicated().value_counts()

False    780
Name: count, dtype: int64

# Análisis DF OVERTAKING AVERAGE

In [38]:
df_overtaking_average

,Season,Overtakes,Overtakes on TV,No. of Races,Average,Average on TV,Median,Median on TV
0,1984,781,113,16,48.8,7.1,50.0,5.5
1,1985,742,102,16,46.4,6.4,48.0,6.0
2,1986,658,107,16,41.1,6.7,35.0,6.0
3,1987,592,97,16,37.0,6.1,37.0,5.0
4,1988,531,108,16,33.2,6.8,34.0,6.5
5,1989,567,88,16,35.4,5.5,33.0,5.0
6,1990,544,109,16,34.0,6.8,32.0,6.0
7,1991,518,92,16,32.4,5.8,31.0,6.5
8,1992,426,73,16,26.6,4.6,22.0,2.0
9,1993,434,92,16,27.1,5.8,28.0,6.0
10,1994,287,44,16,17.9,2.8,15.5,2.5
11,1995,345,59,17,20.3,3.5,19.0,3.0
12,1996,212,53,16,13.3,3.3,10.5,3.0
13,1997,334,95,17,19.6,5.6,16.0,4.0
14,1998,217,57,16,13.6,3.6,11.5,3.0
15,1999,298,104,16,18.6,6.5,16.0,5.5
16,2000,350,118,17,20.6,6.9,19.0,7.0
17,2001,277,89,17,16.3,5.2,12.0,4.0
18,2002,274,78,17,16.1,4.6,16.0,4.0
19,2003,357,146,16,22.3,9.1,16.5,6.5
20,2004,375,145,18,20.8,8.1,19.0,9.5
21,2005,246,101,19,12.9,5.3,11.0,5.0
22,2006,345,154,18,19.2,8.6,14.5,5.5
23,2007,376,183,17,22.1,10.8,15.0,6.0
24,2008,366,239,18,20.3,13.3,15.0,11.5
25,2009,301,183,17,17.7,10.8,11.0,9.0
26,2010,615,313,19,32.4,16.5,27.0,15.0
27,2011,1249,501,19,65.7,26.4,55.0,25.0
28,2012,1229,581,20,61.5,29.1,58.5,27.5
29,2013,1029,534,19,54.2,28.1,55.0,29.0
30,2014,871,450,19,45.8,23.7,43.0,22.0
31,2015,629,405,19,33.1,21.3,32.0,19.0
32,2016,1097,565,21,52.2,26.9,49.0,25.0
33,2017,509,314,20,25.5,15.7,29.5,18.0
34,2018,749,437,21,35.7,20.8,33.0,19.0
35,2019,949,447,21,45.2,21.3,45.0,20.0
36,2020,628,388,17,36.9,22.8,34.0,23.0
37,2021,807,417,22,36.7,19.0,31.0,16.5
38,2022,994,550,22,45.2,25.0,34.5,21.5
39,2023,1101,654,22,50.0,29.7,39.5,23.0

In [53]:
df_overtaking_average.shape

(40, 8)

# Analisis DF RESULTS

In [39]:
df_results.head(3)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1

In [54]:
df_results.shape

(26519, 18)

In [40]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26519 entries, 0 to 26518
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26519 non-null  int64
 1   raceId           26519 non-null  int64
 2   driverId         26519 non-null  int64
 3   constructorId    26519 non-null  int64
 4   number           26519 non-null  object
 5   grid             26519 non-null  int64
 6   position         26519 non-null  object
 7   positionText     26519 non-null  object
 8   positionOrder    26519 non-null  int64
 9   points           26519 non-null  float64
 10  laps             26519 non-null  int64
 11  time             26519 non-null  object
 12  milliseconds     26519 non-null  object
 13  fastestLap       26519 non-null  object
 14  rank             26519 non-null  object
 15  fastestLapTime   26519 non-null  object
 16  fastestLapSpeed  26519 non-null  object
 17  statusId         26519 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.6+ MB

### Creación DF global

In [41]:
df_F1 = pd.merge(df_results, df_races, on ='raceId', how ='left')
df_F1 = pd.merge(df_F1, df_circuits, on ='circuitId', how ='left')
df_F1 = pd.merge(df_F1, df_drivers, on ='driverId', how ='left')
df_F1 = pd.merge(df_F1, df_status, on ='statusId', how ='left')
df_F1 = pd.merge(df_F1, df_constructors, on ='constructorId', how ='left')

In [42]:
filtro_1984_2023 =(df_F1["year"] >= 1984) & (df_F1["year"] < 2024)
df_F1 = df_F1[filtro_1984_2023]

In [43]:
pd.set_option("display.max_columns", None)
df_F1.head(5)
df_F1.to_csv("./data/F1.csv", index = False)